<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<settings>
	<category label="Generelt">
		<setting id="source" label="Kilde" type="labelenum" default="YouSee.tv"
                 values="YouSee.tv|DR.dk|TVTID.dk|XMLTV" />

        <setting id="youseetv.category" label="YouSee.tv kanal kategori" type="labelenum" default="Danske"
                 values="Mine kanaler|Danske|Filmkanaler|Grundpakken|Mellempakken|Fuldpakken|Nordiske|Engelske|Tyske|Latinske|Slaviske|Tyrkiske|Kurdiske|Arabiske|Asiatiske"
                 visible="eq(-1,0)" />

        <setting id="xmltv.file" label="XMLTV File" type="file" visible="eq(-2,3)" />
	</category>
</settings>

